@tailwind base;

@tailwind components;

@tailwind utilities;

button {
	transition: all 0.2s ease 0s;
}

/* button spinner */
.loading {
  animation-name: spin;
  animation-duration: 1400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.font-sans {
	font-family: 'Nunito', sans-serif;
}